.card:hover{
    transform: scale(1.10);
}
.card{
    transition: all 0.3s;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    float: left;
    border: 0px solid grey;
}
a:hover{
    transform: scale(1.10);
}
a{
    transition: all 0.3s;
}
.container-fluid{
    display: block;
}
.navbar{
    text-decoration: none;
}
.btn{
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.05);
}
.sidebar{
    flex: inline;
    float: left;
    margin: 2px;
}
.heading{
    margin: 1px;
    padding-left: 5px;
    padding-top: 8x;
}